<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>2_maven.oracle.com</id>
            <username>frankc@dbnet.com.au</username>
            <password>{lYhtsucqMlcH/L4QiJgv9w5vOg+yCbvUnp3ZNyFS5Lg=}</password>
            <configuration>
                <basicAuthScope>
                    <host>ANY</host>
                    <port>ANY</port>
                    <realm>OAM 11g</realm>
                </basicAuthScope>
                <httpConfiguration>
                    <all>
                        <params>
                            <property>
                                <name>http.protocol.allow-circular-redirects</name>
                                <value>%b,true</value>
                            </property>
                        </params>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>

        <server>
            <id>api.esure.com</id>
            <username>AKIAIPBSZ2AOTKOSKEEA</username>
            <password>NOeMuHUT6BgoGiuezBc1JP4PRzknZo++OziYl0e4</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>use-oracle-repos</id>
            <repositories>

                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>

                <repository>
                    <id>api.esure.com</id>
                    <url>s3://esure-maven</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>1_maven.apache.org</id>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <layout>default</layout>
                </repository>

                <repository>
                    <id>2_maven.oracle.com</id>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>https://maven.oracle.com</url>
                    <layout>default</layout>
                </repository>

            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>api.esure.com</id>
                    <url>s3://esure-maven</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>

            </pluginRepositories>

        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>use-oracle-repos</activeProfile>
    </activeProfiles>

</settings>
