option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTP:81/health
  aws:elb:listener:
    InstancePort: 80
    ListenerEnabled: false
  aws:elb:listener:8443:
    InstancePort: 81
    ListenerProtocol: HTTP
    InstanceProtocol: HTTP
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:eu-west-1:829070902612:certificate/e97d057b-f68a-4734-8908-a8fddb864ac5
    InstancePort: 80
    InstanceProtocol: HTTP