files:
    "/etc/cron.hourly/cron.elasticbeanstalk.update_users.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            repo_path='/etc/puppetlabs/code/modules'
            repos=`/bin/ls ${repo_path}`

            for repo in $repos; do
              cd ${repo_path}/${repo}
              git pull > /dev/null
            done

            cd /etc/puppetlabs/puppet/hieradata/hiera
            git pull > /dev/null
            
            /opt/puppetlabs/bin/puppet apply -e "include sudoers"
            /opt/puppetlabs/bin/puppet apply -e "include accounts"
        encoding: plain

commands: 
  01_unzip_ebextensions:
    command: unzip /opt/elasticbeanstalk/deploy/appsource/source_bundle '.ebextensions/*' -d /root
  02_run_generate_hostname_script:
    command: bash /root/.ebextensions/scripts/generate_hostnames.sh
