files:
  "/etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      find /var/log/nginx/healthd -type f -mtime +2 | xargs rm -f

files:
  "/opt/elasticbeanstalk/addons/logstreaming/hooks/install/99-cloudwatch-logs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      /root/.ebextensions/scripts/cloudwatch-logs.sh

container_commands:
  01-cloudwatch-logs:
    command: bash /root/.ebextensions/scripts/cloudwatch-logs.sh 
  02-mkdir-healthd:
    command: mkdir -p  /var/log/nginx/healthd
  03-chmod-healthd:
    command: chmod 777  /var/log/nginx/healthd
  04-restart-healthd:
    command: initctl start healthd || initctl restart healthd
  05-restart-awslogs:
    command: service awslogs restart
