commands: 
  01_run_update53:
    command: bash /root/.ebextensions/scripts/update53.sh UPSERT
  02_copy_esure_script:
    command: cp /root/.ebextensions/scripts/esure /etc/init.d/esure
  03_chmod_esure_script:
    command: chmod 0755 /etc/init.d/esure
  04_chkconfig_esure_script:
    command: chkconfig --add esure
  05_start_esure_script:
    command: /etc/init.d/esure start
  06_chmod_update53:
    command: chmod 0744 /root/dns/update_R53
